// FONT-FAMILY
$nav_font: "Source Sans Pro", sans-serif;
$title_font: "Montserrat", sans-serif;
$main_font: "Open Sans", sans-serif;
$btn_font: "Montserrat", sans-serif;

// FONT-SIZE
$main_font_size: 18px;
$title_font_size: 44px;
$sub_title_font_size: 22px;
$nav_font_size: 14px;

// FONT-COLOR
$main_font_color: #2c4058;
$btn_font_color: #000000;
